.contPlayer {
  width: 600px;
}
.form {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.form input {
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-size: 18px;
}
.form button {
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: #1db954;
  color: #000000;
  border: none;
  border: solid 2px #1db954;
}
.form button:hover {
  font-size: 18px;
  cursor: pointer;
  background-color: #282c34;
  color: #1db954;
  border: solid 2px #1db954;
}
.contTrack {
  display: flex;
  align-items: center;
  padding: 10px;
}
.contTrack:hover {
  background: #000000;
  border-radius: 4px;
}
.contTrack img {
  height: 60px;
}
.textTrack {
  line-height: 0;
  padding-left: 20px;
}
.textTrack h1 {
  font-size: 18px;
  padding-bottom: 10px;
}
.textTrack p {
  font-size: 14px;
}
.bttsPages {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.bttsPages button {
  margin: 0 5px;
  padding: 4px 10px;
  border-radius: 25px;
  border: none;
  font-size: 12px;
  background: #ffffff;
  color: #000000;
}
.bttsPages button:hover {
  cursor: pointer;
  background: #bebebe;
}
